<% provide(:title, 'Sections') %>
<h1><%= @currentSection %>	</h1>

<%= form_tag 'users' , :method => "get", :id=> 'filter_users_form' do %>

<%= select_tag "section", 
				options_for_select(sections, :selected => @selectedSection), 
			   :prompt => "All Sections", 
			   :id => 'filter_users' %>

<% end %>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>