<% provide(:title, @wc.name ) %>

<div class="container">
	<% unless @wc.lesson.previous_content(@wc.id, "wc").nil? %>
		<%= link_to "<", @wc.lesson.previous_content(@wc.id, "wc"), :class => "btn pull-left" %>
	<% end %>
	<% unless @wc.lesson.next_content(@wc.id, "wc").nil? %>
		<%= button_to ">", update_progress_path(:content => "Finished: #{ @wc.name }", :redirect_object => url_for(@wc.lesson.next_content(@wc.id, "wc"))), :class => "btn pull-right" %>
	<% end %>
	<h1><%= @wc.name %></h1>
	<div id="websiteInstructions" class="center row">
		<%= @wc.instructions %>
		<br/>
		<%=  link_to'edit reading', edit_website_content_path %> 
	</div>
	<br/>
	<div class="center"><%= link_to "back to #{@wc.lesson.name}", @wc.lesson, :class => "btn btn-small" %></div>
	<br/>
</div>
<iframe id="wcFrame" src="<%= @wc.contentlink %>"></iframe>