<% provide(:title, @lesson.name) %>

<% unless @lesson.previous_lesson.nil? %>
<%= link_to "<", @lesson.previous_lesson, :class => "btn pull-left" %>
<% end %>
<% unless @lesson.next_lesson.nil? %>
<%= link_to ">", @lesson.next_lesson, :class => "btn pull-right" %>
<% end%>
<h1><%= @lesson.name %></h3>

<div id="lessonInstructions" class="center row">
	<%= @lesson.instructions %>
	<br/>
	<% if current_user.admin? %>
	<%= link_to 'edit lesson', edit_lesson_path %>
	<% end %>
	</div>
<br/>


<% if @lesson.video_contents.count > 0 %>

<h3>Videos:</h3>
<br/>
<ul class="nav nav-tabs nav-stacked">
	<%= render(@lesson.video_contents) %>
</ul>
<% end %>
<% if @lesson.website_contents.count > 0 %>
<h3>Readings:</h3>
<br/>
<ul class="nav nav-tabs nav-stacked">
	<%= render(@lesson.website_contents) %>
</ul>
<% end %>
<% if @lesson.download_contents.count > 0 %>
<h3>Downloads:</h3>
<br/>
<ul class="nav nav-tabs nav-stacked">
	<%= render(@lesson.download_contents) %>
</ul>
<% end %>
<% if current_user.admin? %>
	<%= link_to "Add Reading", new_website_content_path(:params => {:lesson_id => @lesson.id}), class: "btn btn-large btn-primary"  %>

	<%= link_to "Add Video", new_video_content_path(:params => {:lesson_id => @lesson.id}), class: "btn btn-large btn-primary"  %>

	<%= link_to "Add Download", new_download_content_path(:params => {:lesson_id => @lesson.id}), class: "btn btn-large btn-primary"  %>
<% end %>