<% provide(:title, @dc.name) %>
<% unless @dc.lesson.previous_content(@dc.id, "dc").nil? %>
	<%= link_to "<", @dc.lesson.previous_content(@dc.id, "dc"), :class => "btn pull-left" %>
<% end %>
<% unless @dc.lesson.next_content(@dc.id, "dc").nil? %>
		<%= button_to ">", update_progress_path(:content => "Finished: #{ @dc.name }", :redirect_object => url_for(@dc.lesson.next_content(@dc.id, "dc"))), :class => "btn pull-right" %>
<% end %>
<h1><%= @dc.name %></h1>
<div class="center"><%= link_to "back to #{@dc.lesson.name}", @dc.lesson, :class => "btn btn-small" %></div>
<br/>
<div id="downloadInstructions" class="center row">
	<%= @dc.instructions %>
	<% if current_user.admin? %>
	<br/>
	<%= link_to 'edit download', edit_download_content_path %>
	<br/>
    <%= link_to "delete", @dc, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @dc.name %>
	<% end %>
</div>
<br/>
<div class="center row"><%= link_to "Download", @dc.download_link, :class => "btn btn-small", :target => "_blank" %></div>
 